.container{
  position: sticky;
  height: 200;
  background-image: url(../images/pic1c.jpeg);
  background-size: cover;
  padding-top:50px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  font-size: medium;
  color:rgb(69, 224, 204);
  text-align: top-center;
}
body{
  margin-left:50px;
  margin-right: 50px;
}
.nav{
  position:sticky;
  height: 50px;
  border: 1px;
  border-color: black;
  margin-top:0px;
  background-color: white;
}
.menu-buttons{
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  list-style-type:none;
  font-family: Roboto;
  color: black;
}
.photos {
  background-color: white;
  border-width: 0px;
  padding: 4px;
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 200;
}
.photos:hover{
  transform: scale(1.5);
  color:rgb(103, 165, 165);
}
.videos {
  background-color: white;
  border-width: 0px;
  padding: 4px;
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
  color:black;
}
.videos:hover{
  transform: scale(1.5);
  color:rgb(103, 165, 165);
}
.about {
  background-color: white;
  border-width: 0px;
  padding: 4px;
  margin-top: 5px;
  text-decoration: none;
  color:black;
}
.about:hover{
  transform: scale(1.5);
  color:rgb(103, 165, 165);
}
.box1 {
  margin-top: 5px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 4px 4px 10px;
  color:black;
}
.box2 {
  display:grid;
  column-gap: 15px;
  grid-template-columns: auto auto;
  margin-top: 5px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 4px 4px 10px;
  color:black;
}
.imgbox2 {
  height: 259px;
  width: 300px;
  border-style: hidden;
  border-radius: 5px;
  border-color: black;
  background-image: url(../images/pic1a.jpg);
  background-repeat: no-repeat;
}

