@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body{
  background-color: white;
}

.container{
  position: relative;
  margin:0 100px 0 100px;
  background-image: url(../images/pic1n.jpg);
  background-size: cover;
  padding-left: 3em;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat; 
}

.title{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: roboto;
  font-size: 20px;
  color: rgb(5, 5, 5);
  margin: 0;
}

.nav{
  background-color: rgba(255, 255, 255, 0.822);
  margin:0 100px 0 100px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 2px -2px gray;
}

.menu-buttons {
  display: flex;
  list-style: none;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home,
.photos,
.videos,
.about {
  background-color: rgba(255,255,255,0);
  border-width: 0px;
  padding: 2px;
  margin-top: 2px;
  margin-right: 20px;
  font-size: 16px;
  color: black;
}

.home:hover,
.photos:hover,
.videos:hover,
.about:hover {
  background-color: rgba(255, 255, 255, 0.822);
  transform: scale(1.7);
  border-radius: 5px;
  color:rgb(103, 165, 165);
  box-shadow: 0 4px 2px -2px gray;
}

.box1{
  margin: 0 100px 0 100px;
  color: black;
}

h2{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

.p1{
  font-size: 16px;
  text-align: justify;
}

.box2{
  margin:0 100px 0 100px;
  display:flex;
  width: auto;
  padding: 5px;
  color: black;
}

.imgbox2{
  position: right;
  background-image: url(../images/pic1a.jpg);
}

#photo-divider{
  margin:0 100px 0 100px;
  height: 40px;
  padding: 5px;
  border-top: 1px solid black;
  box-shadow: 0 4px 2px -2px gray;
  text-align: center;
  font-size: 16px;
  color: black;
}

.pics{
  margin:10px 100px 0 100px;
  height: auto;
  --_spacer: var(--size-2);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  overflow-x: auto;
}

.footer{
  margin:0 100px 0 100px;
  border-top: 1px solid black;
  color: black;
}
