body{
  margin-left: 100px;
  margin-right: 100px;
}

.container{
  position: relative;
  background-image: url(../images/pic1c.jpeg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat; 
}

.title{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: roboto;
  font-size: large;
  color: rgb(252, 252, 252);
  margin: 0;
}

.nav{
  background-color: rgba(255, 255, 255, 0.822);
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
}

.menu-buttons {
  display: flex;
  list-style: none;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home,
.photos,
.videos,
.about {
  background-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  padding: 2px;
  margin-top: 5px;
  margin-right: 20px;
}

.home:hover,
.photos:hover,
.videos:hover,
.about:hover {
  transform: scale(1.5);
  color:rgb(103, 165, 165);
  box-shadow: 0 4px 2px -2px gray;
}

.box1{
  margin-top: 5px;
  height: auto;
  max-width: auto;
  padding: 5px;
}

.box2{
  margin: 5px;
  height: auto;
  width: 1000px;
  display:flex;
  width: auto;
  padding: 5px;
}

.textbox2{
  width:50ch;
}

.imgbox2{
  background-image: url(../images/pic1a.jpg);
  background-repeat: no-repeat;
}
.footer{
  border-top: 1px solid black;
}