@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
:root{
 --clr-divider: linear-gradient(to right,rgb(9, 219, 174),rgb(198, 219, 6));
}

body{
  background-color: white;
  padding: 0 13% 0 13%;
}

img{border-radius: 8px;}

.header{
  position: sticky;
  top: 0;
  background-image:linear-gradient(to right,rgb(9, 219, 174),rgb(229, 255, 0));
}

.title{
  font-family: roboto;
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  color: rgb(46, 172, 172);
  background-image: linear-gradient(to right,rgb(9, 219, 174),rgb(198, 219, 6));
}
.nav{
  position: sticky;
  top: 0;
  background-image:linear-gradient(to right,rgb(9, 219, 174),rgb(198, 219, 6));
  box-shadow: 0 4px 2px -2px black;
}

.menu-buttons {
  display: flex;
  list-style: none;
  height: 2em;
  justify-content: center;
  align-items: center;
}

.home,.photos,.videos,.about {
  background-color: rgba(255,255,255,0);
  padding: .2em;
  margin-top: .2em;
  margin-right: 1em;
  font-size: 1em;
  font-weight: 500;
  color: grey;
}

.home:hover,.photos:hover,.videos:hover,.about:hover {
  //background-color: rgba(103, 161, 161,.3);
  text-decoration:underline;
  //transform: scale(1.2);
  border-radius: 10px;
  color:rgb(0, 0, 0);
  box-shadow: 0 4px 2px -2px black;
}



.container{
  color: black;
}

#fix{
  float: right;
  height: 13em;
  width: 13em;
  margin: .5em .5em;
  background-image: url(../images/pic3.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: .3em .3em .4em black;
}

#photo-divider{
  height: 2.5em;
  margin-top: .2em;
  background-image: var(--clr-divider);
  box-shadow: 0 4px 2px -2px black;
  align-items: center;
  justify-content: center;
}

.pho{
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  text-align: center;
}

.pics{
  margin-top: 1em;
  height: auto;
  --_spacer: var(--size-2);
  display: grid;
  align-items: center;
  grid-area: 2,0;
  grid-template-columns: auto auto auto auto auto;
  gap: var(--_spacer);
}

.pics img:hover{
  display: block;
  position: center;
  transform: scale(1.1);
}

#video-divider{
  height: 2.5em;
  margin-top: .2em;
  background-image: var(--clr-divider);
  box-shadow: 0 4px 2px -2px black;
  align-items: center;
  justify-content: center;
}

.vid{
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  text-align: center;
}

.vids{
  display:flex
  
}

.footer{
  margin-top: 10px;
  border-top: 1px solid black;
  color: black;
  height: 7em;
}
